body {
    padding: 30px;
    /*background: url('/images/Gamestop.jpg') rgba(0, 0, 0, 0.5);*/
    background-size: cover;
    height: 100px;

}

table {
    width: 100%;
}

th {
    height: 50px;
}