<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Star Rock Games</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{'css/normalize.css'}"/>
    <link rel="stylesheet" th:href="@{'css/skeleton.css'}"/>
    <link rel="stylesheet" th:href="@{'css/main.css'}"/>
</head>
<body>

<div th:include="masterpage :: head"></div>

<section>

    <h3>Add A Game</h3>

    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;">Your error message goes here.</div>
    <div th:if="${success}" style="color: green;">Your game was successfully added.</div>

    <form method="post" action="/game/add">
        <div class="row">
            <div class="three columns">
                <label>Game Name</label>
            </div>
            <div class="nine columns">
                <input name="gameName" />
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <label>Game Price</label>
            </div>
            <div class="nine columns">
                <input name="gamePrice"/>
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                &nbsp;
            </div>
            <div class="nine columns">
                <button>Add Game</button>
            </div>
        </div>

    </form>

</section>

<div th:include="masterpage :: footer"></div>


</body>
</html>